<h1>Contact</h1>
<form action="/sorts" method="POST" novalidate>
    <div>
        <p><label>Если вы хотите, рассмотреть сортировки на массиве случайных чисел. Введите размер массива:</label></p>
        <p><input type="rand array" name="sizeRandArr" ></p>
    </div>
    <div>
        <p><label>Если вы хотите, рассмотреть сортировки на массиве из файла. Введите название файла из папки files проекта:</label></p>
        <p><input type="file array" name="filenameArr" ></p>
    </div>
    <ul>
        {{ with .TimesOfSorts }}
        {{ range . }}
        <li>
            <h3>Type of sort : {{ .SortType }}</h3>
            time of sort : {{.TimeDuration}}
        </li>
        {{ end }}
        {{ end }}
    </ul>
    <div>
        <input type="submit" value="Send message">
    </div>
</form>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <div>-->
<!--        <a href="http://localhost:8081/sorts/">I want to set rand value of arr</a>-->
<!--        <p><input type="sizeArr" name="size of random arr" value="{{ .randomSize }}"></p>-->
<!--    </div>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->