
<div>
    <h1>Меню сортировок</h1>
    <form action="/sorts" method="POST" novalidate>
        <div>
            <p><label>Если вы хотите, рассмотреть сортировки на массиве случайных чисел. Введите размер массива:</label></p>
            <p><input type="rand array" name="sizeRandArr" ></p>
        </div>
        <div>
            <p><label>Если вы хотите, рассмотреть сортировки на массиве из файла. Введите название файла из папки files проекта:</label></p>
            <p><input type="file array" name="filenameArr" ></p>
        </div>

        {{ with .AvailableSorts }}
        {{ range . }}
        <div>
            <input type="checkbox"  name="checkbox" value={{.}} />
            <label>{{.}}</label><br>
        </div>
        {{ end }}
        {{ end }}

        <div>
            <input type="submit" value="Send message">
        </div>

        {{ with .TimesOfSorts }}
                    {{ range . }}
                    <div>
                        <h3>Type of sort : {{ .SortType }}</h3>
                        time of sort : {{.TimeDuration}}
                    </div>
                    {{ end }}
        {{ end }}

        <hr>
        <h3>Started Array : {{.StartedArray}}</h3>
        <hr>
        <h3>Sorted Array : {{.SortedArray}}</h3>
        <hr>
    </form>

</div>

