<h1>Contact</h1>
<form action="/sorts" method="POST" novalidate>
    <div>
        <p><label>Если вы хотите, рассмотреть сортировки на массиве случайных чисел. Введите размер массива:</label></p>
        <p><input type="rand array" name="sizeRandArr" ></p>
    </div>
    <div>
        <p><label>Если вы хотите, рассмотреть сортировки на массиве из файла. Введите название файла из папки files проекта:</label></p>
        <p><input type="file array" name="filenameArr" ></p>
    </div>
    <ul>
        {{ with .TimesOfSorts }}
        {{ range . }}
        <li>
            <h3>Type of sort : {{ .SortType }}</h3>
            time of sort : {{.TimeDuration}}
        </li>
        {{ end }}
        {{ end }}
    </ul>
    <div>
        <input type="submit" value="Send message">
    </div>
    <strong>Started Array : {{.StartedArray}}</strong>
</form>



<!--    <div>-->
<!--        {{ with .AllAvailableSorts }}-->
<!--        {{ range . }}-->
<!--        <li>-->
<!--            <input type="checkbox"  name="checkbox" value={{.}} />-->
<!--            <label>{{.}}</label><br>-->
<!--        </li>-->
<!--        {{ end }}-->
<!--        {{ end }}-->

<!--        <input type="checkbox" id="quick" name="checkbox"value="Quick">-->
<!--        <label for="quick"> Quick</label><br>-->
<!--        <input type="checkbox" id="bubble" name="checkbox"value="Bubble">-->
<!--        <label for="bubble"> Bubble</label><br>-->
<!--            <input type="checkbox" name="check" value="3" />-->
<!--            <input type="checkbox" name="check" value="4" />-->
<!--    </div>-->